In [ ]:
# What Are Data Structures?
# Data structures are ways of organizing and storing data so that they
# can be accessed and modified efficiently.

# Why Should You, as a Developer, Learn Data Structures?
# The right data structure makes your code faster and more efficient.
# Most coding interviews and real-world challenges require solid data structure knowledge.
# Helps you organize code better and avoid messy or repeated logic.

# Python provides several built-in data structures
# List
# Tuple
# Set
# Dictionaries

In [ ]:
# List In Python
# List is a collection of data values [ data structure ]
# List is denoted by using [] square brackets / list()
# List is Mutable In Nature [changeable , modifiable , delete]
# List allows us to have duplicate elements
# List allows us to have diff diff data types

# Create a list

# Method 1
list1 = [1,2,3,4,5,6,7,8,9,10]
print(type(list1))

# Method 2
list2 = list([1,2,3])
print(type(list2))

# Empty list
list3 = []
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
mylist  = [10,20,30,40,50,60,70]
# 10  20  30  40  50  60  70
# 0   1   2   3   4   5   6
# -7  -6  -5  -4  -3  -2  -1

# Indexing & Slicing
print(mylist)
print(mylist[5])
print(mylist[1:4])
print(mylist[1:6:2])
print(mylist[-2])

[10, 20, 30, 40, 50, 60, 70]
60
[20, 30, 40]
[20, 40, 60]
60

In [ ]:
# using for loop in list

# identify which value is divisable by 3
mylist= [10,20,30,40,50,60,70]
for i in mylist:
  if i%3==0:
    print(i)

30
60

In [ ]:
mylist = [10,20,30,40,50,60,70]
# len() is built-in function that helps us to count the no. of elements
print(len(mylist))

In [ ]:
mylist = [10,20,30,40,50,60,70]
for i in range(len(mylist)):            # range(7)  for i in 0 1 2 3 4 5 6
  print(f'Index {i} : {mylist[i]}')     #                  Index {1}   mylist[1]

In [ ]:
# enumerate()
# built-in function which will show you indexNumber and the value

for i in enumerate(mylist):
  print(i)

In [ ]:
for i,v in enumerate(mylist):
  print(f'Index {i} : {v}')

In [ ]:
# List is mutable in nature
mylist = [10,20,30,40,50,60,70,10,20,30,40,40,50,50,50,50]
print(mylist)
mylist[3] = 400
print(mylist)

In [ ]:
# List Built-In Functions
# help(list)

In [ ]:
mylist = [10,20,30,40,50,60,70,80,90,100]
print('Original List :',mylist)

# a.) append(value)
# used to add a new element at the END of the List
mylist.append(110)
print('After Append :',mylist)

# b.) insert(indexNumber,value)
# used to add a new element at any Specific Position
mylist.insert(2,2000)
print('After Insert :',mylist)

# c.) pop(indexNumber)
# used to delete an element from the specified index number from the list
mylist.pop(2)
print('After Pop :',mylist)

# d.) pop()
# if no argument is provided , it will delete the Last element
mylist.pop()
print('After Pop :',mylist)

# e.) remove(value)
mylist.remove(90)
print('After Remove :',mylist)

# list = [10,20,30,40,10,10,10,50,60,70,10,80,10]
# list.remove(10) ? which 10 will it remove
# it will the first occurence of 10
# [20,30,40,10,10,10,50,60,70,10,80,10]
# while 10 in list:
#    list.remove(10)

# f.) reverse()
mylist.reverse()
print(f'After Reverse: {mylist}')     # the same as writing print(mylist[::-1])

# g.) clear()
# it is use to delete all the element from list
mylist.clear()
print('After Clear: ',mylist)

# h.) del keyword
del mylist            # clear function will just delete the element, while del function will delete the entire variable list

Original List : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
After Append : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Insert : [10, 20, 2000, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Pop : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Pop : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
After Remove : [10, 20, 30, 40, 50, 60, 70, 80, 100]
After Reverse: [100, 80, 70, 60, 50, 40, 30, 20, 10]
After Clear:  []

In [ ]:
# i.) sort()
mylist  = [7,8,1,3,6,9,5,2,4,10]
print(mylist)
mylist.sort()                       # sort in ascending order
print('After Sort:  ', mylist )

[7, 8, 1, 3, 6, 9, 5, 2, 4, 10]
After Sort:   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
mylist  = [7,8,1,3,6,9,5,2,4,10]
print(mylist)
mylist.sort(reverse=True)           # sort in descending order
print('After Sort:  ', mylist )

[7, 8, 1, 3, 6, 9, 5, 2, 4, 10]
After Sort:   [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# can also be apply for string
fruits  = ["Cherry","Apple","Grape","Durian","Banana"]
fruits.sort()
print(fruits)

['Apple', 'Banana', 'Cherry', 'Durian', 'Grape']

In [ ]:
# USE WHILE LOOP WHEN NUMBER OF ITERATIONS ARE NOT FIXED

marks_list = []

howManySubjects = int(input('Enter How Many Subjects Marks You Wish To Insert : '))
i = 1
while i<=howManySubjects:
  marks = int(input(f'Enter Marks For Subject {i} : '))
  marks_list.append(marks)
  i += 1

print(f'The List of Mark:  {marks_list}')

Enter How Many Subjects Marks You Wish To Insert : 3
Enter Marks For Subject 1 : 88
Enter Marks For Subject 2 : 99
Enter Marks For Subject 3 : 94
The List of Mark:  [88, 99, 94]

In [ ]:
# Tuple In Python
# Tuple is a collection of data values [ data structure ]
# Tuple is denoted by using () parenthesis / tuple()
# Tuple is Immutable In Nature
# Tuple allows us to have duplicate elements
# Tuple allows us to have diff diff data types

In [ ]:
# Create a Tuple
tuple1  = (1,2,3,4,5,6,7,8,9,10)
print(type(tuple1))

tuple2 = tuple((1,2,3,4,5,6,7,8,9,10))
print(type(tuple2))

tuple3 = ()
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# determine the data type of following variable
myvar = 'Python' , 31 , 89.21 , True
print(type(myvar))

# not advisable to write like this

<class 'tuple'>

In [ ]:
# how to define tuple having one element
var1  = (45,)
print(type(var1))
print(var1)

# it is rarely to have one element only in a tuple.

<class 'tuple'>
(45,)

In [ ]:
# Tuple is Immutable
mytuple = (10,20,30,40,50,60,70)
print(mytuple)
mytuple[3] = 400
print(mytuple)

# use in personal information (like Passport No. where the information is private to avoid changes of information)

(10, 20, 30, 40, 50, 60, 70)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# len()
mytuple = (10,20,30,40,50,60,70,10,10,20,10,10,30,30)
print(len(mytuple))
# count(value) it is used to count the occurence of specified value
print(mytuple.count(10))
# index(value) it will return the index no. of specified value
print('Index No. Of 70 is',mytuple.index(70))

14
5
Index No. Of 70 is 6

In [ ]:
numbers = (7,8,3,5,1,6,9,2,10,4)
print(f'The Ascending order is :{sorted(numbers)}')

The Ascending order is :[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = (7,8,3,5,1,6,9,2,10,4)
print(sorted(numbers,reverse=True))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Set
# Set is an unordered collection of data values
# Set does not allow us to have duplicate values
# Set is denoted by using {} / set()

set1 = {10,20,30,40}
print(type(set1))

set2 = set([10,20,30])
print(type(set2))

set3 = set()
print(type(set3))

In [ ]:
set1 = {10,20,30,40,30,20,10,10}
print(set1)

In [ ]:
list1 = [10,20,30,10,30,40,50,20,60,70]
# WAP to print the no. of unique values in a List
print('No. Of Unique Elements is: ',len(set(list1)))

No. Of Unique Elements is:  7

In [ ]:
# WAP to print the no. of unique values in a List without using the build in shortcut

list1 = [10,20,30,10,30,40,50,20,60,70]
empty_list = []                                          # empty_list = []
for i in list1:                                          # i --> 10, then 20, then 30, and so on
  if i not in empty_list:                                # whether 10 does not exist in empty_list FALSE
    empty_list.append(i)                                 # empty_list = [10,20,30]

print('No. Of Unique Elements is: ',len(empty_list))
print(f'The numbers of the unique values are: {empty_list}')

No. Of Unique Elements is:  7
The numbers of the unique values are: [10, 20, 30, 40, 50, 60, 70]

In [3]:
!pip install ordered-set

Collecting ordered-set
  Downloading ordered_set-4.1.0-py3-none-any.whl.metadata (5.3 kB)
Downloading ordered_set-4.1.0-py3-none-any.whl (7.6 kB)
Installing collected packages: ordered-set
Successfully installed ordered-set-4.1.0

In [4]:
from ordered_set import OrderedSet
list1 = [10,20,30,10,30,40,50,20,60,70]
print(set(list1))
print(OrderedSet(list1))

{70, 40, 10, 50, 20, 60, 30}
OrderedSet([10, 20, 30, 40, 50, 60, 70])

In [7]:
letters = OrderedSet('abracadabra')
print(letters)

OrderedSet(['a', 'b', 'r', 'c', 'd'])

In [6]:
letters = 'abracadabra'
print(set(letters))

{'a', 'b', 'd', 'r', 'c'}

In [ ]:
# Dictionary
# used to hold the information in a key:value pair format
# denoted by using {} / dict()
# dictionary is mutable

# in dictionary values can be duplicated but keys has to be unique

emp_info = {"id":101,"empname":"John","dept":"IT",
            "sal":5600,"email":"j@gmail.com","city":"Klang",
            "mobno":60132324}

print(type(emp_info))
print(emp_info)

print(emp_info["sal"])
print(emp_info["mobno"])

# get(keyname)
print(emp_info.get("sal"))
print(emp_info.get("mobno"))

<class 'dict'>
{'id': 101, 'empname': 'John', 'dept': 'IT', 'sal': 5600, 'email': 'j@gmail.com', 'city': 'Klang', 'mobno': 60132324}

In [ ]:
emp_info = {"id":[101,102,103],
            "name":['John','Alex','Smith'],
            "dept":['IT','HR','FN']}
print(type(emp_info))
print(emp_info)

print(emp_info["name"])
print(emp_info.get("dept"))

print(emp_info["name"][1])

import pandas as pd
data = pd.DataFrame(emp_info)
data

<class 'dict'>
{'id': [101, 102, 103], 'name': ['John', 'Alex', 'Smith'], 'dept': ['IT', 'HR', 'FN']}
['John', 'Alex', 'Smith']
['IT', 'HR', 'FN']
Alex

    id   name dept
0  101   John   IT
1  102   Alex   HR
2  103  Smith   FN

In [ ]:
emp_info = {"id":101,"empname":"John","dept":"IT",
            "sal":5600,"email":"j@gmail.com","city":"Klang",
            "mobno":60132324}

print(emp_info)

# add a new key:value pair
emp_info['citizenship'] = 'Malaysia'
print(emp_info)

In [ ]:
# pop('keyname') used to delete a key:value pair

emp_info.pop('citizenship')
print(emp_info)

In [ ]:
# updating value
emp_info['sal'] = 6000
print(emp_info)

In [ ]:
# updating key
emp_info['empid'] = emp_info.pop('id')
print(emp_info)

In [ ]:
emp_info = {"id":101,"empname":"John","dept":"IT",
            "sal":5600,"email":"j@gmail.com","city":"Klang",
            "mobno":60132324}

# print the keys only
for i in emp_info:
  print(i)

In [ ]:
# print the values
for i in emp_info.values():
  print(i)

In [ ]:
# print key value together
for k,v in emp_info.items():
  print(k,v,sep=':')

In [8]:
# Nested Loop Comprehension

# create a new list showing the square of mentioned numbers
# Method 1
nums = [1,2,3,4,5,6,7,8,9]
emptyList = []

for i in nums:
  if i%2==0:
    emptyList.append(i*i)                   # Can also be write as (i**2)
print(emptyList)

# Method 2 (Using Nested Loop)
nums = [1,2,3,4,5,6,7,8,9]
emptyList = [i*i for i in nums if i%2==0]    # Can also be write as (i**2)
print(emptyList)

[4, 16, 36, 64]
[4, 16, 36, 64]

In [ ]:
numbers = [2,3,4,5,6,7,8,9,10]
sq_nums = [i**2 for i in numbers]
print(sq_nums)

In [ ]:
numbers = [10,45,56,67,89,34,99]
# create a new list showing numbers greater than 55
empty_list = []
for i in numbers:
  if i>55:
    empty_list.append(i)
print(empty_list)

In [ ]:
numbers = [10,45,56,67,89,34,99]
empty_list = [i for i in numbers if i>55]
print(empty_list)

In [ ]:
list1 = [10,20,30,10,30,40,50,20,60,70]
# WAP to print the no. of unique values in a List
empty_list = []
for i in list1:
  if i not in empty_list:
    empty_list.append(i)
print(empty_list)

In [ ]:
list1 = [10,20,30,10,30,40,50,20,60,70]
empty_list = []
[empty_list.append(i) for i in list1 if i not in empty_list]
print(empty_list)

In [ ]:
normal_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_squares = [i ** 2 for i in normal_list if i % 2 == 0]
print(even_squares)

In [ ]:
# ASSIGNMENTS

# Method 1
n = int(input('Choose Any Number From 1 to 100:  '))

if n%2  != 0:
  print('Weird')

else:
  if n>=2 and n<=5:
    print('Not Weird')

  if n>=6 and n<=20:
    print('Weird')

  if n>20:
    print('Not Weird')

# Method 2
n = int(input('Choose Any Number From 1 to 100:  '))